.app{
  padding: 10px;
}

.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  background: rgb(235 224 215)
}

.logo{
  width: 100px;
  mix-blend-mode: darken;
  padding-left: 20px;
}

.nav-items{
  padding: 0px 20px 0px 20px ;

}

.nav-items > ul{
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li{
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

.res-card{
  padding: 5px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  border: 1px solid white;
  margin: 5px;
  flex-basis: 200px;

}

.res-card:hover{
  
  border: 1px solid orange;
  cursor: pointer;
  transition:0.5s linear;
  flex-basis:220px;
}


.search{
  padding: 10px;
  display: flex;
  column-gap: 10px;
}

.res-logo{
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.footer-container{
  background: #02060C;
  color: white;
  height: 300px;
  padding: 1rem 0 5rem 0;
  display: flex;
  justify-content: center;
  column-gap: 13rem;

}

.footer-container > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;  
}



.footer-logo{
  width: 5rem;
}

.filter{
  display: flex;
}

.filter-btn{
  margin: 10px;
  cursor: pointer;
  border: none;
  height: 50px
}

.loaderClass{
  position: absolute;
  left: 50%;
  top: 50%;
  mix-blend-mode:darken;
  z-index: 100;
}

.body{
  padding-bottom: 450px;
}

.login{
  padding: 0px 20px 0px 20px;
  cursor: pointer;
  background: transparent;
  border: 2px solid transparent;
  font-size: 18px;
  border-radius: 5px;
}

.login:hover{
  border: 2px solid #F0BC83;
  transition: 0.5s linear ;
}

.search-button{
    cursor: pointer;
    border: none;
    height: 50px;
    background: rgb(217, 212, 212);
    border-radius: 4px;
}

input{
  font-size: 16px;
  border:1px solid rgb(217, 212, 212);
  padding-left: 1rem;
}

input::placeholder{
  font-size: 11px;
  padding-left: 1px;
}

